<h1>Home Page</h1>
<h3>Artist</h3>
<div style={margin:'50%'}>
    {{#each Artist}}
        <ul>
            <li>{{Name}}</li>
        </ul>  
    {{/each}}
</div>
<h1>Title</h1>
<div style={margin: '50%'}>
    {{#each Artist}}
        <ul>
            <li>{{Title}}</li>
        </ul>
    {{/each}}
</div>